/* so this isnt pulling the colors from them theme... but its handles the button states so much better then writing it in the button.tsx file */
/* in a bigger project would definately want something like styled components or tailwind so wouldnt run into catch-22 choices here */

.shared-button {
  padding: 6px 12px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: #FFFFF0;
  color: #464646;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(218, 165, 32, 0.2);
  transition: background-color 0.3s, #DAA520 0.3s, box-shadow 0.3s;
  width: fit-content;
  height: fit-content;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;

}

.shared-button:hover {
  background-color: #DAA520;
  color: #FFFFF0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.shared-button:active {
  background-color: #FFFFF0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.shared-button:disabled {
  background-color: #464646;
  color: #888;
  cursor: not-allowed;
}