.App {
  text-align: left;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  /* Remove default styles */
  appearance: none;
  /* Remove default appearance */
  -webkit-appearance: none;
  /* For Safari */
  -moz-appearance: none;
  /* For Firefox */

  /* Remove default borders, padding, and margins */
  border: none;
  padding: 0;
  margin: 0;

  /* Remove default background and text color */
  background: none;
  color: inherit;

  /* Remove default font settings */
  font: inherit;

  /* Remove default cursor */
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
}